* {
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #1f2937;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}


.header .navbar a {
    font-size: 18px;
    margin: 0 1rem;
    color: #e5e7eb;
}

.header .navbar a:hover {
    color: #1f2937;
    background: #e5e7eb;
    padding: 1rem;
    border-radius: .5rem;
}

section {
    padding: 2rem 9%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

.home .meso .awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.home .meso .info {
    font-size: 2rem;
    color: #F9FAF8;
}


.home .meso button {
    background-color: #3882f6;
    padding: 1.3rem;
    border-radius: 1rem;
    color: #e5e7eb;
    width: 100px;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.home .meso button:hover {
    width: 110px;
    word-spacing: 7px;
}

.home img {
    height: auto;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.products {
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.products .content {
    text-align: center;
}

.products .content h2 {
    font-size: 36px;
    padding: 5rem;
    font-weight: bolder;
    color: #1f2937;
}

.products .information {
    display: flex;
    justify-content: center;

}

.products .information .item {
    margin-left: 20px;
}

.products .information .item p {
    text-align: center;
    font-size: 1.5rem;
}


.information .item img {
    height: 140px;
    width: 130px;
    border: 1px solid #3882f6;
    border-radius: 25px;
}

.information .item img:hover {
    transform: scale(1.1);
}

.quote {
    padding: 10rem;
    background-color: #e5e7eb;
}

.quote p {
    padding: px;
    text-align: center;
    font-style: italic;
    color: #1f2937;
    font-size: 26px;
}

.quote p.author {
    text-align: right;
    font-weight: bolder;

}

.main_action {
    padding: 50px;

}

.main_action h3 {
    color: #F9FAF8;
    font-size: 2rem;
}

.main_action p {
    color: #e5e7eb;
    font-size: 1.2rem;
}

.main_action .action {
    display: flex;
    background-color: #3882f6;
    padding: 30px;
    border-radius: 15px;


}

.main_action .action .item {
    flex: 1;
}

#signup {
    margin-left: 10%;
}

#btn {
    color: #e5e7eb;
    text-align: center;
}

#btn button {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    color: #e5e7eb;
    width: 100px;
}

#btn button:hover {
    width: 110px;
    word-spacing: 7px;
}

.footer {
    padding: 40px;
    background-color: #1f2937;

}

.footer p {
    text-align: center;
    color: #e5e7eb;
    font-size: 1.5rem;
}